/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}
img{float:left;}
h1 {
  font-style: Bold;
  color: #6A5ACD;
}
<img class{font-size 1em}
