

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}
img{display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20em;
}

h1 {
 font-family: Cursive; 
  color: White;
 

}

.icon{
  height:1.9em;
  width: 1.9em;
}
h2{
  color:white;
  text-align:center;
}
  
}
p{
  display: block;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  font-size: 1.3em;
  color:white;
  
  
}

div{
  text-align: right;
}
.list-design{float:right;
  
}
.dropdown-toggle{
  float:right;
  
}
.headshot{ border-radius: 8px;
text-align: center;}
.col-sm{
  text-align: center;
  display: block;
    margin-block-start: 3em;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  font-size: 1.5em;
  color:white;
  border:solid;
  border-right:1px;
 
}
body {background-color:#7d84bd;}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
color:white;}
h3{color:white;
text-align:center;
border:solid;}
.Ln{
  width:2em;
float:left;
}
.email{
  width:2em;
  
}

.dropbtn {
  background-color: #c3cde6;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color:#c3cde6;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align:center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #cfd2da,
 
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #cfd2da;
}

 body {
            margin: 0;
        }
        h1, h2 {
            font-family: 'Amatica SC', cursive;
            font-weight: 700;
            text-align: center;
        }
        p {
            font-family: 'Open Sans Condensed', sans-serif;
        }
        .header {
            background-color: #c3cde6;
            height: 100px;
            text-align: center;
            color: #4f889f;
            padding: 1px;
        }
        .container div {
            padding: 1%;
            box-sizing: border-box;
            min-height: 500px;
        }
        .left-col, .right-col {
            background-color: #c3cde6;
            width: 25%;
            float: left;
        }
        .center-col {
/*          background-color: pink; */
            width: 25%;
            float: left;
        }
        .extra-col{
          float:right;
          width: 25%;
}
h4{color:white;
text-align:center;
border:none;
}         

