/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}
img{float:left;}
h1 {
  font-style: Bold;
  color: #6A5ACD;

}

.icon{
  height:1.3em;
  width: 1.3em;
}
h2{
  
}
p{
  margin-top:-1em;
}